*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	font-family: "Roboto",sans-serif;
	font-size:14px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	color: #000;
}
p{
	margin-bottom: 0 !important;
}
li{
	list-style-type: none;
}
textarea:focus, input:focus{
    outline: none;
}
a{
	text-decoration: none !important;
}
a:hover {
    text-decoration:underline;
}
// label check
label{
	 display: flex;
	 align-items: center;
	input{
	    display: none;
	}
	.icon{
	    position: relative;
	    width: 16px;
	    height: 16px;
	    background-color: #fff;
	    cursor: pointer;
	    border:0.5px solid rgba(0, 0, 0, 0.14);
	    margin-right: 5px;
	    .fa-check{
	        font-size: 12px;
	        color: #fff;
	        position: absolute;
	        bottom: 2px;
	        left: 2px;
	        opacity: 0;
	        -webkit-transition: all 0.2s;
	        -o-transition: all 0.2s;
	        transition: all 0.2s;
	    }
	}
	.text{
	    font-size: 11px;
	}
	input:checked + .icon{
		background-color:#E40C0C;
	}
	input:checked + .icon .fa-check{
	    opacity: 1;
	}
}

// colors
@blue:#0047FF;
@red:#FF003D;

// COMPONENT'S STYLE
// placeholder and input 
::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.14); font-size:13px;}
:-ms-input-placeholder {color: rgba(0, 0, 0, 0.14); font-size:13px;}
::placeholder {color: rgba(0, 0, 0, 0.14); font-size:13px;}
// search box
.search{
	width: 45%;
	display: flex;
	justify-content:space-between;
	align-items:center;
	@media (max-width: 760px) {
		width: 80%;
		margin: 30px auto;
	}
	.search_box{
		width: 70%;
		background: #F5F5F5;
		border-radius: 6px;
		padding: 10px;
		display: flex;
		align-items:center;
		.fas{
			color:@blue;
			font-size:16px;
			margin-left: 10px;
			margin-right: 5px;
		}
		input{
			background:inherit;
			height: 100%;
			width: 90%;
			border:none;
		}
	}
}
// navigation
.navigation{
	margin:0 auto;
	margin-top: 5%;
	ul{
		width: 10%;
		display: flex;
		li{
			text-decoration: none;
			margin-right: 8px;
			list-style-type: none;
			a{
				font-size:16px;
				color:#ccc;
			}
		}
		.active{
			a{
				color:#000;
			}
		}
	}
}
.razr{
	text-align: center;
	font-size:12px;
	font-weight: bold;
	padding-bottom: 2%;
}
// buttons
.blue_btn_tubus, .red_btn_tubus, .simple_white_btn{
	color:#fff;
	text-align: center;
	text-decoration: none !important;
	background-color:@blue;
	border-radius: 6px;
	padding: 8px;
	width: 120px;
	cursor: pointer !important;
}
.red_btn_tubus{
	background-color:#FF003D;
}
.simple_white_btn{
	color:#000;
	background-color:#fff;
	border:1px solid #000;
}
.blue_btn_tubus:hover, .red_btn_tubus:hover{
	color:#fff;
}
.simple_white_btn:hover{
	color:#000;
}
// upload photo block
.photo{
	position:relative;
	margin-bottom: 5%;
	display: flex;
	img{
		width: 180px;
		height: 180px;
	}
	.upload{
		display: flex;
		flex-direction: column;
		align-items:center;
		position: absolute;
		top: 40%;
		left: 20%;
		text-decoration: none;
		color:#000;
		.fas{
			font-size:23px;
		}
	}
	.upload:hover{
		color:#000 !important;
	}
}
// attach photo block
.attach{
	font-style: italic;
	color:#ccc;
	font-size:12px;
	font-weight: 400;
	margin-bottom: 30px;
}
.attach_photo{
	margin-top: 30px;
	display: flex;
	align-items:center;
	.kvadrat{
		justify-content:center;
		align-items:center;
		display: flex;
		width: 110px;
		height: 110px;
		border:1px solid #ccc;
	}
	.round{
		margin-left: 20px;
		width: 40px;
		height: 40px;
		border-radius:50%;
		border:1px solid #ccc;
		display: flex;
		align-items:center;
		justify-content:center;
	}
	.fas{
		color:#ccc;
		font-size:18px;
	}
}
// person info - profile and popup 
.person_info{
	margin-left: 10%;
	width: 60%;
	display: flex;
	flex-direction:column;
	.fio{
		display: flex;
		flex-direction:column;
		p{
			font-size:20px;
			// font-weight: 500;
			margin-bottom: 4%;
		}
	}
}
// single work style
.work{
	display: flex;
	flex-direction:column;
	@media (max-width: 480px){
		align-items:center;
	}
	.wrap_img{
		width: 190px;
		height: 190px;
		display: flex;
		justify-content:center;
		align-items:center;
		border:1px solid rgba(0, 0, 0, 0.3);
		img{
			width: 100%;
			object-fit: cover;
		}
	}
	.work_name{
		margin: 20px 0;
		color:@blue;
		display: flex;
		font-weight: bold;
		p{
			margin: 0;
		}
	}
	.price{
		display: none;
		font-size:16px;
		margin-bottom: 20px;
		span{
			font-weight: bold;
			font-size:20px;
		}
	}
	a{
		width: 60%;
		font-size:12px;
		padding: 4px;
	}
}
// choose work single-work style
.work_to_choose, .tub{
	width: 100%;
	display: flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom: 40px;
	@media (max-width: 1100px) {
		flex-direction:column;
	}
	.work_info{
		width: 48%;
		display: flex;
		align-items:stretch;
		@media (max-width: 1100px) {
			width: 80%;
			margin-bottom: 30px;
		}
		@media (max-width: 650px) {
			width: 100%;
		}
		@media (max-width: 500px) {
			flex-direction:column;
			align-items: center;
		}
		.work_img{
			width: 170px;
			height: 170px;
			display: flex;
			justify-content:center;
			align-items:center;
			img{
				width: 100%;
				object-fit: cover;
			}
		}
		.work_description{
			margin-left: 15%;
			display: flex;
			flex-direction: column;
			justify-content:center;
			.name_work{
				color:@blue;
				font-weight: bold;
				font-size:24px;
				margin-bottom: 10px;
			}
			.kind_of_work{
				font-size:16px;
				display: inline-block;
				margin-bottom: 15px;
			}
			a{
				color:@blue;
				text-decoration: underline !important;
				margin-bottom: 10px;
			}
			.price{
				p{
					font-size:22px;
					text-transform: uppercase;
					span{
						font-size:24px;
						font-weight: bold;
					}
				}
			}
		}
	}
	.work_action{
		width: 48%;
		display: flex;
		justify-content:space-between;
		@media (max-width: 1100px) {
			width: 80%;
		}
		@media (max-width: 650px) {
			width: 100%;
		}
		.simple_white_btn{
			width: 40%;
			justify-content:center;
			font-weight: bold;
		}
		.btn_2{
			justify-content:center;
			width: 50%;
			border: 1px solid rgba(0, 0, 0, 0.23);
			color:rgba(0, 0, 0, 0.23);
			cursor:default !important;
		}
		.zakrep{
			width: 100%;
			display: none;
			flex-direction:column;
			.buttons{
				width: 100%;
				display: flex;
				justify-content:space-between;
				margin-bottom: 20px;
				.blue_btn_tubus{
					width: 40%;
				}
				.red_btn_tubus{
					width: 50%;
				}
			}
		}
		.active{
			display: flex;
		}
		.hide{
			display: none;
		}
	}
}
// links color tub div
.tub .work_info .work_description .red_btn_tubus{
	color:#fff !important;
	text-decoration: none !important;
	width: 150px;
}
.tub .work_info .work_description a{
	color:#000 !important;
	text-decoration: none !important;
	margin-bottom: 0;
}

.tub{
	.work_info{
		width: 70%;
		margin: 0 auto;
		display: flex;
		justify-content:space-around;
		@media (max-width: 1100px) {
			width: 100%;
		}
		@media (max-width: 870px) {
			flex-direction: column;
			align-items: center
		}
		.tub{
			margin-bottom: 7%;
		}
		.work_img{
			width: 250px;
			height: 250px;
			display: flex;
			justify-content:center;
			align-items:center;
			img{
				width: 100%;
				object-fit: cover;
			}
		}
		.work_description{
			width: 35%;
			margin-left: 0;
			@media (max-width: 870px){
				width: 45%;
			}
			@media (max-width: 600px){
				width:65%;
			}
			@media (max-width: 500px){
				width:90%;
			}
		}
		.name_work{
			display: flex;
			align-items:center;
		}
		.stars{
			margin-left: 20%;
			display: flex;
			.fa-star{
				font-size:17px;
				color:#ccc;
			}
			.hover{
				color:@red;
			}
			.selected{
				color:@red;
			}
		}
		.price{
			margin: 5% 0;
		}
		.save_work{
			display: flex;
			justify-content:space-between;
			align-items:center;
			width: 100%;
		}
		.download{
			display: flex;
			align-items:center;
			.fas{
				color:#000;
				font-size:30px;
				margin-right: 5px;
			}
		}
	}
}
// Modal
.overlay {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;
}
.overlay.open {
    opacity: 1;
    pointer-events: inherit;
    z-index:20;
}
.overlay .modal {
	position:relative !important;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;
    display: flex !important;
    background-color:#fff;
    width: 50%;
    @media (max-width: 700px) {
        width: 80%;
    }
}
.overlay .modal.open {
    opacity: 1;
    pointer-events: inherit;
    position:relative;
    .close-popup{
        position:absolute;
        top: 20px;
        left: 90%;
        cursor: pointer;
        .fas{
            color:#000;
            font-size:20px;
        }
    }
}
.overlay .modal.open .content {
    transform: translate(0, 0px);
    opacity: 1;
}

.overlay .modal .content {
    transform: translate(0, -10px);
    opacity: 0;
    transition: .35s ease-in-out;
    margin: 0 auto;	
    width: 100%;
}
// get vip content
.modal .content .vip_popup{
    display: flex;
    flex-direction:column;
    margin: 10% auto;
    margin-bottom: 5%;
    width: 100%;
    padding: 0 10%;
    @media (max-width: 400px) {
    	padding: 0 2%;
    }
    .person{
		display: flex;
		align-items:flex-start;
		width: 100%;
		margin: 0 auto;
		@media (max-width: 850px) {
			flex-direction:column;
			align-items:center;
		}
		.person_info{
			@media (max-width: 850px) {
				margin-left: 0;
				.fio{
				align-items:center;
				}
			}
		}
    }
    .get_vip{
    	width: 100%;
    	margin-top: 15%;
    	display: flex;
    	flex-direction:column;
    	@media (max-width: 850px) {
			align-items:center;
		}
		@media (max-width: 650px) {
			margin-top: 5%;
		}
    	.price_vip{
    		display: flex;
    		align-items:flex-start;
    		.fas{
    			font-size:18px;
    			color:#ccc;
    			margin-right: 10px;
    		}
    		span{
    			display: flex;
    			align-items:center;
    			text-transform: uppercase;
    			font-weight: bold;
    			font-size:18px;
    			@media (max-width: 1080px) {
    				font-size:14px;
    			}
    			@media (max-width: 550px) {
    				font-size:12px;
    			}
    			.cost_vip{
    				@media (max-width: 1080px) {
	    				font-size:18px;
	    			}
    				font-size:25px;
    				color:@red;
    			}
    		}
    	}
    	.info_vip{
    		display: flex;
    		align-items:center;
    		margin-top: 5%;
    		font-size: 12px;
    		.fas{
    			color:@blue;
    			font-size:12px;
    			margin-left: 10px;
    		}
    	}
    	a{
    		@media (max-width: 550px) {
				width: 40%;
			}
    		width: 20%;
    		padding:8px;
    		text-transform: uppercase;
    		margin: 5% 0;
    		font-size:10px;
    	}
    }
}
// send work popup style
.popup_send_work{
	@media (max-width: 950px) {
    	width: 60%;
    }
	width: 40%;
}
.modal .content .send_work{
	display: flex;
    flex-direction:column;
    margin: 10% auto;
    margin-bottom: 5%;
    width: 80%;
    @media (max-width: 950px) {
    	width: 90%;
    }
    @media (max-width: 400px) {
    	padding: 0 2%;
    }
    p{
    	font-size:20px;
    	font-weight: bold;
    }
    .send_file{
    	display: flex;
    	width: 70%;
    	margin: 0 auto;
    	margin-top: 5%;
    	flex-direction:column;
    	@media (max-width: 850px) {
	    	width: 100%;	
	    }
    	p{
    		font-size: 14px;
    		font-weight: bold;
    		margin-bottom: 15px;
    	}
    	input{
    		border:none;
			border-bottom: 1px solid #000000;
			padding:5px;
			height: 35px;
			width: 100%;
			margin-bottom: 8%;
			padding-left: 10px;
			color:@blue;
		}
		input:focus{
			border-bottom: 1px solid @blue;
		}
		.add{
			margin: 5% 0;
			display: flex;
			align-items:center;

			p{
				font-weight: bold;
				font-size:16px;
			}
		}
		a{
	    	text-transform: uppercase;
	    }
		.choose_file{
			font-size:10px;
			color:#000;
			margin-left: 50px;
			padding: 5px 10px;
			border:1px solid #000;
			border-radius: 10px;
			font-style:italic;
			text-transform: none;
		}
    }
}
// header style
.header{
	margin-top: 30px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items:center;
	.logo{
		a{
			@media (max-width: 500px) {
				font-size: 25px;
			}
			font-weight: 900;
			color:@blue;
			font-size:35px;
			text-decoration: none;
		}
		a:hover{
			color:@blue !important;
		}
	}
	.red_line{
		display: flex;
		align-items:center;
		width: 80%;
		@media (max-width: 950px){
	        display: none;
        }
		.line{
			background-color: @red;
			height: 2px;
			width: 90%;
		}
		.language{
			@media (max-width: 760px) {
				display: none;
			}
			display: flex;
            align-items:center;
            position:relative;
            margin-left: 2px;
            .selected{
            	text-transform: uppercase;
            	color:@blue;
            	font-family: 'Arial', sans-serif;
            	margin: 0 !important;
            	cursor: pointer;
            	font-weight: bold;
            }
            .fas{
            	font-size:15px;
            	color:@blue;
            	cursor:pointer;
            }
            .menu_language{
                position:absolute;
                display: none;
                z-index: 10;
                background-color: #fff;
                right: 0px;
                margin-top: 7px;
                top: 20px;
                border-radius:6px;
                -webkit-box-shadow: 0px 2px 12px -6px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 2px 12px -6px rgba(0,0,0,0.75);
                box-shadow: 0px 2px 12px -6px rgba(0,0,0,0.75);
                .content{
                    width: 40px;
                    background-color:#fff;
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    border-radius:6px;
                    p{	
                    	cursor:pointer;
                    	font-weight: bold;
                    	color:@blue;
                    	text-transform: uppercase;
                    	font-family: "Arial",sans-serif;
                    }
                    p:last-child{
                        border-bottom: none;
                        padding-bottom:0;
                        margin: 0;
                    }
                }
            }
		}
	}
	.registration_and_enter{
		display: none;
		align-items:center;
		@media (max-width: 950px){
	        display: none;
        }
		.fas{
			font-size:18px;
			color:@blue;
			margin-right: 10px;
		}
		a{
			@media (max-width: 760px) {
				font-size: 12px;
			}
			font-family: 'Arial',sans-serif;
			color:#000;
		}
	}
	.login_profile{
		align-items:center;
		width: 80% !important;
		display: flex;
		justify-content:space-between;
		@media (max-width: 1200px){
	        width: 150% !important;
	        margin-left: 5%;
        }
		@media (max-width: 950px){
	        display: none;
        }
		.profile_h_and_balance{
            display: flex;
            align-items:center;
            justify-content:space-between;
            .fas{
            	margin-right: 10px;
                color:@blue;
                font-size:18px;
            }
            p{
                font-size: 16px;
                margin: 0;
            }
        }
        .balance{
        	font-size:16px;
        	p{
        		margin: 0;
        	}
        	span{
        		color:@red;
        	}
        }
        .go_profile_page, .exit, .main{
			a{
				cursor:pointer;
				color:#000;
				font-size:16px;
			}
			a:hover{
				color:@red;
			}
        }
        .exit{
        	a{
        		color:@red;
        	}
        }
        .main{
        	display: none;
        }
	}
	.mobile_menu{
            cursor: pointer;
            width: 35px;
            display: none;
            flex-direction: column;
            .burg{
                width: 100%;
                height: 3px;
                background-color:@red;
                margin-bottom: 3px;
                box-sizing: border-box;
        }
        @media (max-width: 950px){
	        display: flex;
	        padding-right: 10px;
        }
    }
}
// mobile menu
.mobile{
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 250;
    transition: all 0.35s;
    .close_mob_menu{
        position: absolute;
        top: 10px;
        right: 20px;
        color: @red;
        cursor: pointer;
        font-size: 20px;
    }
    .wrap{
        box-sizing: border-box;
        padding-top: 50px;
        width: 300px;
        height: 100%;
        position: relative;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        justify-content: flex-start;
        float: right;
        .profile_h{
            display: flex;
            align-items:center;
            justify-content:space-between;
            margin-bottom: 20px;
            .fas{
            	margin-right: 10px;
                color:@blue;
                font-size:18px;
            }
            p{
                font-size: 16px;
                margin: 0;
            }
        }
        .balance{
        	font-size:16px;
        	margin-bottom: 3%;
        	p{
        		margin: 0;
        	}
        	span{
        		color:@red;
        	}
        }
        .go_profile_page, .exit , .main{
        	margin-bottom: 3%;
			a{
				cursor:pointer;
				color:#000;
				font-size:16px;
			}
			a:hover{
				color:@red;
			}
        }
        .main{
        	display: none;
        }
    }
}
.active{
    right: 0%;
}
// enter through social style
.authorization{
	margin-top: 5%;
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	span{
		font-size: 12px;
		font-weight: bold;
	}
	.social{
		margin-top: 20px;
		display: flex;
		justify-content:center;
		.social_net{
			cursor:pointer;
			text-decoration: none;
			background-color: #ff001b;
			display: flex;
			align-items:center;
			justify-content:center;
			width: 35px;
			height: 35px;
			margin: 0 1px;
			.fab, .fas{
				color:#fff;
				font-size:20px;
			}
		}
	}
}
main{
	display: flex;
	width: 100%;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
// enter page 
.enter{
	width: 100%;
	height: 100vh;
	background-color:#EDEDED;
	display: flex;
	justify-content:center;
	align-items:center;
	.content{
		width: 90%;
		display: flex;
		justify-content:center;
		align-items:center;
		flex-direction: column;
		p{
			font-weight: 900;
			font-size: 36px;
			color:@red;
		}
		.wrap{
			width: 50%;
			background-color:#fff;
			display: flex;
			justify-content:center;
			@media (max-width: 850px){
				width: 70%;
			}
			@media (max-width: 850px){
				width: 90%;
			}
			.content_form{
				width: 100%;
				margin-top: 8%;
				margin-bottom: 5%;
				display: flex;
				flex-direction:column;
				justify-content:center;
				align-items: center;
				p{
					text-transform: uppercase;
					color:#000;
					font-weight: 900;
					font-size:20px;
					margin-bottom: 3%;
				}
				form{
					width: 55%;
					display: flex;
					flex-direction:column;
					@media (max-width: 500px){
						width: 80%;
					}
					.label{
						color: rgba(0, 0, 0, 0.41);
						text-transform: uppercase;
						font-weight: bold;
						margin-bottom: 2%;
						a{
							color:#000;
							text-transform: none;
							font-weight: 500;
							font-size: 13px;
							margin-left: 3%;
							text-decoration: none;
						}
					}
					input{
						border: 1px solid #000000;
						padding:5px;
						height: 35px;
						width: 100%;
						margin-bottom: 6%;
						padding-left: 10px;
					}
					input:focus{
						border : 1px solid @red;
					}
					.password{
						position:relative;
						.fa-eye, .fa-fw{
							cursor:pointer;
							position:absolute;
							z-index:5;
							right: 5%;
							top: 18%;
						}
					}
					.enter_registration{
						margin-top: 3%;
						width: 100%;
						display: flex;
						justify-content:space-between;
						a{
							font-size:12px;
							text-align: center;
							text-decoration: none;
							width: 48%;
							padding: 8px;
							background-color: @blue;
							color:#fff;
							text-transform: uppercase;
						}
						.reg{
							background-color: #fff;
							border:1px solid rgba(0, 0, 0, 0.29);
							color: rgba(0, 0, 0, 0.29);
						}
					}
				}
			}
		}
	}
}
// registration page
.registration_page{
	width: 90%;
	display: flex;
	align-items:flex-start;
	margin-top: 3%;
	margin-bottom: 8%;
	@media (max-width: 600px) {
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	.photo_and_social{
		margin-left: 10%;
		display: flex;
		flex-direction:column;
		.photo{
			@media (max-width: 600px) {
				justify-content:center;
			}
		}
		.authorization{
			@media (max-width: 600px) {
				align-items:center;
			}
			align-items:flex-start;
		}
	}
	.person_information{
		display: flex;
		flex-direction:column; 
		margin-left: 10%;
		width: 40%;
		@media (max-width: 600px) {
			width: 90%;
			margin-left: 0;
		}
		form{
			width: 100%;
			display: flex;
			flex-direction: column;
			label{
				color:rgba(0, 0, 0, 0.41);
				font-weight: bold;
			}
			input{
				border:none;
				padding: 5px;
				padding-left: 10px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.14);
				margin-bottom: 6%;
			}
			input:focus{
				border-bottom:1px solid @blue;
			}
			.default{
				border-bottom: 1px solid rgba(0, 0, 0, 0.14);
			}
			.active{
				border-bottom: 1px solid #000;
			}
			#email{
				color:@blue;
			}
			// checkbox
			.check{
				margin-bottom: 4%;
				span{
					font-weight: normal;
					font-size:12px
				}
				label{
					 display: flex;
				     align-items: center;
					input{
				        display: none;
				    }
				    .icon{
				        position: relative;
				        width: 16px;
				        height: 16px;
				        background-color: #fff;
				        cursor: pointer;
				        border:0.5px solid rgba(0, 0, 0, 0.14);
				        margin-right: 5px;
				        .fa-check{
				            font-size: 12px;
				            color: #fff;
				            position: absolute;
				            bottom: 2px;
				            left: 2px;
				            opacity: 0;
				            -webkit-transition: all 0.2s;
				            -o-transition: all 0.2s;
				            transition: all 0.2s;
				        }
				    }
				    .text{
				        font-size: 11px;
				    }
				    input:checked + .icon{
				    	background-color:#E40C0C;
				    }
				    input:checked + .icon .fa-check{
				        opacity: 1;
				    }
				}
			}
			a{
				@media (max-width: 1230px){
					width: 50%;
				}
				@media (max-width: 850px){
					width: 70%;
				}
				text-decoration: none;
				width: 35%;
				margin-top: 4%;
			}
		}
	}
}
// points page 
.points{
	display: flex;
	flex-direction:column;
	width: 90%;
	margin-top: 5%;
	// SETTINGS
	b{
		font-size:22px;
	}
	.cost{
		span{
			font-size:16px;
		}
		b{
			color:@red;
		}
	}
	.economy{
		margin: 0;
		color:@red;
		font-weight: bold;
		@media (max-width: 420px){
			font-size:10px;			
		}
	}
	h2{
		font-weight: bold;
	}
	// MAIN POINTS STYLE
	.wrap{
		width: 70%;
		margin: 3% auto;
		@media (max-width: 950px){
			width: 100%;
		}
		// stock block
		.stock{
			width: 100%;
			display: flex;
			align-items:center;
			justify-content:space-between;
			@media (max-width: 800px){
				flex-wrap: wrap;
			}
			@media (max-width: 420px){
				flex-direction:column;
				align-items:flex-start;	
			}
			.stock_word{
				color:@red;
				font-size:35px;
				font-weight: bold;
				margin: 0;
				@media (max-width: 800px){
					width: 100%;
				}
			}
			.count{
				font-weight: bold;
				span{
					font-size:16px;
				}
			}
			.blue_line{
				height: 3px;
				background-color:@blue;
				width: 4%;
				@media (max-width: 420px){
					display: none;
				}
			}
			a{
				text-decoration: none;
			}
		}
		// tarifs block
		.tarifs{
			width: 70%;	
			margin: 3% auto;
			display: flex;
			flex-direction:column;
			@media (max-width: 1250px){
				width: 90%;
			}
			@media (max-width: 665px){
				width: 100%;
			}
			h5{
				margin-bottom: 4%;
			}
			.tarif{
				width: 100%;
				display: flex;
				align-items:center;
				margin-bottom: 3%;
				label{
					width: 5%;
					margin-bottom: 0;
					display: flex;
				    align-items: center;
				    @media (max-width: 420px){
				    	width: 7%;
						}
					input{
				        display: none;
				    }
				    .icon{
				        position: relative;
				        width: 18px;
				        height: 18px;
				        background-color: #fff;
				        border:1px solid #000;
				        cursor: pointer;
				        margin-right: 5px;
				        border-radius:50%;
				        display: flex;
				        justify-content:center;
				        align-items:center;
				        .fa-circle{
				            font-size: 10px;
				            color: @red;
				            opacity: 0;
				            -webkit-transition: all 0.2s;
				            -o-transition: all 0.2s;
				            transition: all 0.2s;
				        }
				    }
				    input:checked + .icon{
				    	background-color:rgba(255, 0, 61, 0.11);
				    	border:none;
				    }
				    input:checked + .icon .fa-circle{
				        opacity: 1;
				    }
				}
				// points
				.pointsss{
					width: 20%;
					font-weight: bold;
					@media (max-width: 600px){
						width: 25%;
					}
					@media (max-width: 420px){
						b{
							font-size:14px;
						}
						font-size:10px;			
					}
				}
				// line
				.blue_line_2{
					margin: 0 5%;
					height: 3px;
					background-color:@blue;
					width: 20%;
					@media (max-width: 600px){
						width: 5%;
					}
					@media (max-width: 470px){
						display: none;				
					}
				}
				// cost
				.cost{
					margin-right: 7%;
					@media (max-width: 420px){
						b{
							font-size:14px;
						}
						font-size:10px;			
					}
				}
				// input where client put his number of points
				.client{
					border:1px solid #000;
					padding: 5px;
					border-radius:3px;
					@media (max-width: 420px){
						margin-right:40px;
					}
				}
			}
		}
		// conclusion
		.conclusion{
			display: flex;
			width: 60%;
			margin: 0 auto;
			align-items:center;
			justify-content: space-between;
			@media (max-width: 1250px) {
				width: 80%;
			}
			@media (max-width: 500px){
				width: 100%;
			}
			@media (max-width: 420px){
				flex-direction:column;
				align-items:flex-start;
			}
			p{
				margin-bottom: 0;
			}
			.big_text{
				font-size: 26px;
				font-weight: bold;
			}
			.blue_line_2{
				height: 3px;
				width: 20%;
				background-color:@blue;
				@media (max-width: 600px){
					display: none;				
				}
			}
			.conclusion_cost{
				font-weight: bold;
				span{
					font-size:40px;
					color:@red;
				}
			}
		}
	}
}
// personal page
.personal_page{
	width: 90%;
	display: flex;
	flex-direction:column;
	margin-top: 5%;
	.person{
		display: flex;
		align-items:flex-start;
		width: 75%;
		margin: 0 auto;
		@media (max-width: 800px){
			flex-direction:column;
		}
		@media (max-width: 650px){
			width: 95%;
		}
		.photo{
			@media (max-width: 800px){
				margin: 3% auto;
			}
		}
		.person_info{
			@media (max-width: 800px){
				width: 100%;
				margin-left: 0;
			}
			.vip{
				display: flex;
				align-items:center;
				margin-bottom: 4%;
				.fas{
					font-size: 18px;
					color:#ccc;
					margin-right: 5px;
				}
				span{
					margin-top: 1%;
					font-size:16px;
					color:#ccc;
					margin-right: 5%;
				}
				a{
					margin-top: 1%;
					text-transform: uppercase;
					color:#ccc;
				}
				a:hover{
					color:#ccc;
				}
			}
			.balance{
				margin-top: 4%;
				display: flex;
				flex-direction:column;
				p{	
					font-size:18px;
					text-transform: uppercase;
					span{
						text-transform: none;
						b{
							color:@red;
						}
					}
				}
				a{
					width: 26%;
					font-size:12px;
					@media (max-width: 1024px){
						width: 35%;
					}
					@media (max-width: 800px){
						width: 50%;
					}
				}
				.todoList{
					p{
						margin: 0;
					}
					margin-top: 5%;
					display: flex;
					flex-direction:column;
					.todo{
						display: flex;
						align-items:center;
						margin-bottom: 4%;
					}
					.circle{
						display: flex;
						justify-content:center;
						align-items:center;
						width: 22px;
						height: 22px;
						border:1px solid @red;
						border-radius:50%;
						margin-right: 3%;
						.num{
							color:@red;
							font-size: 14px;
						}
					}
					.do{
						width: auto;
						font-weight: 500;
						text-transform: none;
						font-size: 12px;
						color:#000;
					}
					.do:hover{
						color:#000;
					}
					.do_go{
						width:auto;
						margin-left: 3%	;
						.fas{
							color:@blue;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.saved_jobs, .done_jobs, .order_jobs{
		width: 75%;
		margin: 5% auto;
		display: flex;
		flex-direction:column;
		@media (max-width: 650px){
			width: 95%;
		}
		@media (max-width: 480px){
			align-items:center;
			margin: 15% auto	;
		}
		.title{
			display: flex;
			align-items:flex-start;
			p{
				margin: 0;
				font-size:20px;
				@media (max-width: 480px){
					font-size:18px;
				}
			}
			.fas, .far{
				font-size: 24px;
				margin-right: 10px;
			}
		}
		.works{
			margin-top: 3%;
			display:grid;
			grid-template-columns: repeat(4, 1fr);
			justify-content:space-between;
			grid-row-gap: 30px;
			@media (max-width: 1200px){
				grid-template-columns: repeat(3, 1fr);
			}
			@media (max-width: 800px){
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: 480px){
				grid-template-columns:1fr;
				justify-content:center;
			}
			.none{
			}
		}
	}
	.return{
		width: 75%;
		margin: 0 auto;
		margin-bottom: 5%;
		@media (max-width: 480px){
			text-align: center;
		}
		a{
			padding: 10px;
			font-size:12px;
			width: 10%;
		}
	}
}

// choose work page
.choose{
	width: 80%;
	margin: 0 auto;
	margin-top: 4%;
	display: flex;
	flex-direction:column;
	.title_and_search{
		margin-top: 2%;
		margin-bottom: 4%;
		display: flex;
		justify-content:space-between;
		align-items:center;
		@media (max-width: 760px) {
			flex-direction: column;
			align-items:center;
		}
		p{
			font-weight: bold;
			font-size: 24px;
			@media (max-width: 760px) {
				text-align: center;
			}
		}
	}
	.works_to_choose{
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction:column;
		@media (max-width: 500px){
			width: 100%;
		}
	}
}
// my tubus
.my_tubus{
	width: 60%;
	margin: 0 auto;
	margin-top: 4%;
	display: flex;
	flex-direction:column;
	.my_tub{
		font-size:20px;
		font-weight: bold;
	}
	.tubus{

	}
}

// order
.order{
	width: 70%;
	margin: 0 auto;
	margin-top: 4%;
	display: flex;
	flex-direction:column;
	@media (max-width: 1050px){
		width: 90%;
	}
	p{
		font-size:20px;
		font-weight: bold;
	}
	.put{
		font-size:14px;
		outline:none;
		border:none;
	}
	.put:focus{
		outline:none;
	}
	select {
        -webkit-appearance: none;
        line-height: 1em;
        padding:0 12px;
        background: url(../img/arrow-down.png) 100% center;
        background-repeat:no-repeat;
        /* for FF */
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        /* for IE */
        -ms-appearance: none;
        appearance: none!important;
    }
    select::-ms-expand {
        display: none;
    }
    input{
    	border:none;
		border-bottom: 1px solid #000000;
		padding:5px;
		height: 35px;
		width: 60%;
		padding-left: 10px;
		margin-left: 3%;
	}
	input:focus {
		border-bottom: 1px solid @blue;
	}
	textarea{
		padding:5px;
		padding-left: 10px;
		margin-left: 3%;
		height: 120px;
		width: 60%;
		border:1px solid #000;
		resize: none;
	}
	textarea:focus {
		border: 1px solid @blue;
	}
    .give_order{
    	margin-top: 5%;
    	margin-bottom: 5%;
    }
    .order_block{
    	width: 60%;
    	display: flex;
    	align-items:center;
    	margin-bottom: 4%;
    	@media (max-width: 950px){
    		width: 80%;
    	}
    	@media (max-width: 700px){
    		width: 100%;
    	}
    	@media (max-width: 500px){
    		flex-direction:column;
    		align-items:flex-start;
    		p{
    			padding-bottom: 20px;
    		}
    		select{
    			margin-bottom: 20px;
    		}
    		input, textarea, .work_price{
    			margin-left: 0;
    			width: 90%;
    		}
    		
    	}
		p{
			font-size:14px;
			width: 20%;
		}
    }
    .attach{
		font-size:14px;
		font-weight: 400;
	}
	.attach, .attach_photo{
		margin-left: 15%;
	}
	.point{
		margin-top: 4%;
		display: flex;
		width: 90%;
		@media (max-width: 950px){
			flex-direction:column;
		}
		.order_block{
			display: flex;
			align-items: flex-start;
			justify-content:space-between;
			width:30%;
			@media (max-width: 950px){
				width: 50%;
			}
			@media (max-width: 500px){
				width: 100%;
			}
		}
	}
	ul{
		width: 50%;
		margin-left: 10%;
	}
	label{
		.text{
			color:#ccc;
		}
		input:checked + .text{
			color:#000;
		}
	}
	.work_price{
		margin-left: 10%;
		text-transform: uppercase;
		font-size:18px;
		span{
			font-size:22px;
			font-weight: bold;
		}
	}
	.blue_btn_tubus{
		padding: 10px 50px;
		font-size:12px;
		margin: 10% 0; 
	}
}
// index page
.social_fixed{
	display: flex;
	position:fixed;
	left: 0;
	top: 50%;
	@media (max-width: 768px){
		display: none;
	}
	.authorization{
		.social{
			flex-direction: column;
			.social_net{
				margin-bottom: 2px;
			}
			.fas{
				color:#fff;
			}
		}
	}
}
.main{
	width: 80%;
	margin: 4% auto;
	display: flex;
	flex-direction:column;
	position:relative;
	.search_and_card{
		width: 100%;
		display: flex;
		align-items:center;
		justify-content:space-between;
		@media (max-width: 1150px){
			flex-direction:column;
			align-items:flex-end;
		}
		.search{
			@media (max-width: 1150px){
				order:1;
				margin: 0;
				margin-bottom: 20px;
			}
			@media (max-width: 500px){
				width: 100%;
			}
		}
		.card_tubus{
			width: 25%;
			display: flex;
			justify-content:space-between;
			@media (max-width: 1150px){
				width: 45%;
				order:2;
			}
			@media (max-width: 750px){
				width: 60%;
			}
			@media (max-width: 500px){
				width: 100%;
			}
			.blue_btn_tubus{
				position:relative;
				span{
					position: absolute;
					height: 100%;
					border-radius: 6px;
					padding: 8px;
					background-color:@red;
					text-align: center;
					color:#fff;
					right: -2%;
					font-size:16px;
					top: 0;
					width: 30px;
				}
			}
		}
	}
	.filters, .vip_filters{
		margin-top: 5%;
		width: 100%;
		display:grid;
		grid-template-columns:repeat(5,1fr);
		@media (max-width: 1200px){
			grid-template-columns:repeat(4,1fr);
		}
		@media (max-width: 768px){
			grid-template-columns:repeat(3,1fr);
		}
		@media (max-width: 500px){
			grid-template-columns:repeat(2,1fr);
		}
		.filter{
			display: flex;
			flex-direction:column;
			.filter_name{
				padding-bottom: 4%;
				color:@blue;
			}
		}
	}
	.list_of_works{
		margin-top: 5%;
		width: 100%;
		display:grid;
		grid-template-columns:repeat(4,1fr);
		justify-content: space-between;
    	grid-row-gap: 30px;
    	@media (max-width: 1200px){
				grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 800px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 480px){
			grid-template-columns:1fr;
			justify-content:center;
		}
		.price{
			display: block;
		}
	}
	.list_of_works_auth{
		flex-direction:column;
		display: flex;
	}
}